<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cards</title>
    <link rel="stylesheet" asp-href-include="~/styles.css" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="~/lib/styles.css" />
</head>
<body class="panel-body">    
        @RenderBody()    
</body>
</html>
