@model CardListViewModel

@{Layout = "_Layout";}

<div class="bg-primary panel-body" style="border-radius:10px"><h2>Cards</h2></div>

@Html.Partial("CardsSummary",Model)

<div page-model="@Model.PagingInfo" page-action="Index"
     page-classes-enabled ="true"
     page-class="btn"
     page-class-normal="btn-default"
     page-class-selected="btn-primary"
     page-url-kind="@Model.CurrentKind"
     class="btn-group pull-right">
</div>
@*<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one file using this form:</p>
            <input type="file" name="files" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>*@